<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.jraw.android.jonsapp"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".ui.conversation.ConversationActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.msgs.MsgsActivity"
            android:label="@string/title_activity_msgs"
            android:theme="@style/AppTheme.NoActionBar"
            android:parentActivityName=".ui.conversation.ConversationActivity">
        </activity>
        <activity
            android:name=".ui.contacts.ContactsActivity"
            android:label="@string/title_activity_contacts"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <service
            android:name=".firebaseservice.FirebaseMsgService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
        <service android:name=".firebaseservice.InstanceIdService">

        </service>

        <activity android:name=".ui.newconversation.NewConversationActivity">
        </activity>
    </application>

</manifest>